.user-login {
  width: 300px;
  height: 100px;
  position: relative;
  display:flex;
  
  button.host{
    background: none;
    width: 300px;
    height: 50px;
    border-radius: 2em;
    color:black;
  }
  button.host:hover{
    background: lightgray;
  }

  .dropdown {
    width: 100%;
    height: 50%;
    opacity: 10;
  }
  button.dropdown-toggle {
    background: none;
    width: 6em;
    height: 3em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    border: 1px solid gray;
    
    .icon-user {
      position: absolute;
      right: 5px;
      top: -11px;
      font-size: 40px;
      color: gray;
    }
    .img-user{
      width:1em;
      height:1em;
      border-radius:50%;
    }
    .icon-humburger {
      position: absolute;
      left: 10px;
      top: -2px;
      font-size: 30px;
      color: rgb(55, 53, 53);
    }
  }

  button.dropdown-toggle:hover {
    background: none;
    box-shadow: 0px 0px 4px 1px rgb(184, 181, 181);
  }
  .dropdown-menu.show {
    box-shadow: 0px 0px 4px 1px rgb(184, 181, 181);
    width: 100%;
  }
}
