.calendar-filter {
  button.btn.btn-primary {
    width: 9em;
    height: 100%;
    left: 30%;
    top: -3px;

    display: flex;
    flex-direction: column;
    background: none;
    border: none;
  }
  button.btn.btn-primary:hover {
    border: none;
    box-shadow: none;
  }
}

.modal-calendar {
  // top: 10vh;
  // width: 70vw;
  // height: 70vh;
  // background-color: aqua;
  .calendar-filter-body {
    // background-color: aquamarine;

    .calendar-filter {
      width: 90%;
      height: 50%;
    }
  }
}
