.header-filter-calendar{
  // background: red;
  width:200px;
  // .content-filter-calendar{
  //   background: red;
  //   width:700px;
  //   position:relative;
  //   z-index:10;
  // }

  .DayPicker.DayPicker_1{
    right:50px;
    background: white;
    z-index:10;
    margin:20px 20px;
    
  }
  
  .DayPicker_weekHeaders.DayPicker_weekHeaders_1{
    // background: blue;
    width:300px;
    
    
  }
  
  .CalendarMonth.CalendarMonth_1{
    // background: orange;
    width:270px;
    margin-top:10px;
    
  }
  
}









