// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/typography';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';
@import 'basics/links';
@import 'basics/forms';

// Views
@import 'views/about-us';
@import 'views/home-page';
@import 'views/stay-app';
@import 'views/review-app';

// Components
@import "cmps/app-header";
@import "cmps/app-footer";
@import "cmps/user-msg";
@import "cmps/stay-preview";
@import "cmps/stay-list";

.card-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-auto-rows: minmax(0,1fr);
    column-gap: 1.5em;
    row-gap: 2.5em;
    padding: 0;
}





@media (min-width: 550px){
    .card-layout {
        grid-template-columns: repeat(2,minmax(0,1fr));
    
    }
}
@media (min-width: 950px){
    .card-layout {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    }
@media (min-width: 1128px){
.card-layout {
    grid-template-columns: repeat(4,minmax(0,1fr));
}
}

@media (min-width: 1350px){
.card-layout {
    grid-template-columns: repeat(5,minmax(0,1fr));
}
}


